<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionAttributes</key>
		<dict>
			<key>QLIsDataBasedPreview</key>
			<true/>
			<key>QLPreviewHeight</key>
			<real>600</real>
			<key>QLPreviewWidth</key>
			<real>800</real>
			<key>QLSupportedContentTypes</key>
			<array>
				<string>com.android.package-archive</string>
				<string>public.android-app-package</string>
				<string>public.archive.apk</string>
			</array>
			<key>QLSupportsSearchableItems</key>
			<false/>
		</dict>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.quicklook.preview</string>
		<key>NSExtensionPrincipalClass</key>
		<string>$(PRODUCT_MODULE_NAME).PreviewProvider</string>
	</dict>
</dict>
</plist>
